@import 'styles/mixins';
@import 'styles/variables';

#article-details-wrapper {
  @include flex(20);

  .article-details {
    box-sizing: border-box;
    @include displayFlex();
    @include flexDirection(column);
    padding: 20px 0px 0px 20px;
    height: 100%;

    .title {
      font-size: 28px;
      font-weight: bold;
      margin-right: 20px;
      margin-bottom: 30px;
    }

    .date {
      font-size: 16px;
      color: $color_gray50;
      display: inline;
      width: auto;
    }

    .author {
      @extend .date;
      font-weight: bold;
    }

    .content {
      overflow-y: auto;
      height: 100%;
      margin-bottom: 0;
      margin-top: 30px;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: $layout2_maxwidth) {
  #article-details-wrapper {
    display: none;
  }
}