@import 'styles/mixins';
@import 'styles/variables';


.filter {
  border-bottom: 2px solid $color_gray20;
  border-left: 2px solid $color_gray20;
  cursor: pointer;
  @include flex(1);
  line-height: 50px;
  min-height: 50px;
  text-align: center;

  &:first-child {
    border-left: none;
  }

  &.selected {
    background: $color_gray20;
    color: $color_gray96;
  }
}