@import 'styles/variables';

.article-summary {
  border-bottom: 2px solid $color_gray20;
  box-sizing: border-box;
  cursor: pointer;
  height: 120px;
  overflow: hidden;
  padding: 10px;
  width: 100%;

  &.selected {
    background: $color_gray20;
    color: $color_gray96;
  }

  .feeder {
    color: $color_gray50;
    font-size: 16px;
    font-weight: bold;
  }
  .date {
    color: $color_gray50;
    float: right;
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    margin: 2px 0px 5px 0px;
    text-overflow: ellipsis;
  }

  .content {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
    margin: 0;

    a {
      color: $color_gray96;
    }
  }

  .article-details {
    display: none;
  }

}

@media screen and (max-width: $layout2_maxwidth) {
  .article-summary {
    height: auto;
    .article-details {
      display: block;

      .content {
        height: auto;
      }
      .date {
        display: none;
      }
      .title {
        display: none;
      }
    }
  }
}