@import 'styles/mixins';

#articles-list-wrapper {
  @include flex(8);
  .articles-list {
    height: 100%;
    @include displayFlex();
    @include flexDirection(column);

    .articles {
      height: 100%;
      margin: 0;
      overflow-y: auto;
      padding: 0;

      li {
        list-style-type: none;
      }
    }
  }
}

@media screen and (max-width: $layout2_maxwidth) {
  #articles-list-wrapper {
    .articles-list {
      .articles {
        height: auto;
        overflow-y: initial;
      }
      .filters-list {
        display: none;
      }
    }
  }
}