@import 'styles/mixins';
@import 'styles/variables';


.feed {
  background: $color_gray20;
  border-bottom: 1px solid $color_gray96;
  box-sizing: border-box;
  color: $color_gray96;
  padding: 5px;
}

@media screen and (max-width: $layout2_maxwidth) {
  .feed {
    border-left: 1px solid $color_gray96;
    border-bottom: none;
    @include flex(1);
    line-height: 90px;
    text-align: center;
  }
}