@import 'app/front/styles/mixins';
@import 'app/front/styles/variables';

@font-face {
    font-family: Champagne;
    src: url("../fonts/Champagne & Limousines.ttf");
}

.wrapper {
  box-sizing: border-box;
  font-size: 20px;
  height: 100%;
  vertical-align: top;
}

.hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  top: auto;
}

html {
  height: 100%;
  font-size: 20px;
  font-family: Champagne;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: black;
  font-weight: bold;
}


#app {
  @include displayFlex();
  font-size: 0px; // To solve inline-block space issue
  height: 100%;
  margin: 0;
  padding: 0;

  #feeders-list-wrapper {
    @extend .wrapper; // font-size is put back here
    border-right: 2px solid $color_gray20;
    @include flex(2);
    min-width: 100px;
  }
  #articles-list-wrapper {
    @extend .wrapper;
    border-right: 2px solid $color_gray20;
    @include flex(5);
    min-width: 400px;
  }
  #article-details-wrapper {
    @extend .wrapper;
    @include flex(20);
  }
}


@media screen and (max-width: $layout2_maxwidth) {
  #app {
    display: block;

    #feeders-list-wrapper {
      height: 100px;
    }
  }
}