@mixin displayFlex() {
  display: -webkit-flex;
  display: flex;
}

@mixin flex($value) {
  -webkit-flex: $value;
  flex: $value;
}

@mixin flexDirection($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}