@import 'styles/mixins';

.feeders-list {
  font-size: 16px;
  height: 100%;

  header {
    @include flex(1);
    box-sizing: border-box;
    margin: auto;
    min-width: 100px;
    padding: 10px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  > div {
    @include flex(10);
    .filters-list {
      display: none;
    }
  }
}

@media screen and (max-width: $layout2_maxwidth) {
  #app {
    .feeders-list {
      border-bottom: 2px solid $color_gray20;
      height: 100px;
      @include displayFlex(); // For the filters


      header {

        img {
          display: inline-block;
          margin: 0 auto;
        }
      }

      .all-feeds {
        @include displayFlex();
        height: 50px;
        line-height: 50px;
        width: 100%;

        .feed {
          @include flex(1);
          height: 50px;
          line-height: 40px;
        }
      }

      > div {
        .filters-list {
          @include displayFlex();
          width: 100%;

          .filter {
            @include flex(1);
          }
        }
      }
    }
  }
}