<% /*
  Copyright (C) 2015 Jérémy GABRIELE

  Permission to use, copy, modify, and/or distribute this software for any
  purpose with or without fee is hereby granted, provided that the above
  copyright notice and this permission notice appear in all copies.

  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
  WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
  MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
  ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
  OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
  CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
*/ %>

<!DOCTYPE html>
<html>
<head>
  <title>SupeRSS application | Home</title>
  <meta charset="utf8" />
  <meta name="description" content="SupeRSS Application" />
  <meta property="og:title" content="SupeRSS Application" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://superss.fruitygames.fr" />
  <meta property="og:image" content="/images/superss_logo.png" />

  <link rel="icon" type="image/png" href="/images/icon.png" />
  <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>

  <h1 class="hidden">SupeRss - RSS reader for superheroes</h1>

  <div id="app">
    <section id="feeders-list-wrapper"></section>

    <section id="articles-list-wrapper"></section>

    <section id="article-details-wrapper"></section>
  </div>
  <script type="text/javascript" src="/scripts/main.js"></script>
  
</body>
</html>